<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
</head>
<body>
    <h1>All Missing Person Posts</h1>
    <button><a href="{% url 'posts:create_missing_person' %}">Post</a></button>
    {% for post in posts %}
        <div>
            <h2>{{ post.name }}</h2>
            <p>{{ post.description }}</p>
            <p>Location: {{ post.location }}</p>
            <p>Date Missing: {{ post.date_missing }}</p>
            <p>Posted by:<a href="{% url 'accounts:profile' user_id=post.user.id %}">{{ post.user }}</a></p>
            <!-- Display image -->
            <img src="{{ post.photo.url }}" alt="{{ post.name }} Photo">
        </div>
        <button><a href="{% url 'posts:view_post_details' post.id %}">View More Details</a></button>
    {% endfor %}
</body>


</html>