<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
</head>
<body>
    
    <h2>{{ post.name }} Details</h2>
    <p>Description: {{ post.description }}</p>
    <p>Location: {{ post.location }}</p>
    <p>Date Missing: {{ post.date_missing }}</p>
    <img src="{{ post.photo.url }}" alt="{{ post.name }} Photo">
    <button><a href="{% url 'posts:update_post' post.id %}">Edit Post</a></button>
</body>
</html>
