{% extends 'common/base.html' %}
{% load static %}

{% block title %}
    {{ user.username }}'s Profile
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <p class="card-text">Email: {{ user.email }}</p>
                    <p class="card-text">Type: {{ user.get_user_type_display }}</p>
                    <p class="card-text">Followers: {{ followers_count }}</p>
                    <p class="card-text">Following: {{ following_count }}</p>
                    {% if request.user != user %}
                        <div class="d-flex">
                            {% if is_following %}
                                <form method="post" action="{% url 'accounts:user_profile' username=user.username %}">
                                    {% csrf_token %}
                                    <button type="submit" name="unfollow" class="btn btn-secondary mr-2">Unfollow</button>
                                </form>
                            {% else %}
                                <form method="post" action="{% url 'accounts:user_profile' username=user.username %}">
                                    {% csrf_token %}
                                    <button type="submit" name="follow" class="btn btn-success mr-2">Follow</button>
                                </form>
                            {% endif %}
                            <a href="{% url 'chat:start_conversation' username=user.username %}" class="btn btn-primary">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                    {% else %}
                        <a href="{% url 'chat:conversation_list' %}" class="btn btn-primary btn-block">Conversations</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Posts</h5>
                    {% if posts %}
                        <ul class="list-group">
                            {% for post in posts %}
                                <li class="list-group-item">{{ post.name }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No posts found.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
